<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <nav>
    <div class="user-info">
        <span>Welcome, {{user.first_name}}!</span>
    </div>
    
    <a href="/logout" class="logout-btn">Logout</a>
</nav>
  <div class="transaction-container">
    <h3>Test Transaction</h3>
    <button id="generateTxBtn" class="signin-btn">Generate Random Transaction</button>
    <p id="txStatus"></p>
</div>

<script src="/public/script.js">
</script>

 
</div>
</body>
</html>